// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)

#include "an7581-u-boot.dtsi"
#include "an758x-recovery-layout-u-boot.dtsi"

status_led: &{/leds/led-0} {
};

#include "an758x-status-led-u-boot.dtsi"

&gdm1 {
	status = "okay";
	bootph-all;
};
